<form [formGroup]="form" class="container" style="height: 90%;" (ngSubmit)="searchHotels()">
    <div *ngIf="form.errors">
        <div class="alert alert-danger mt-5" id="alerta" *ngIf="form.errors.loginError">
            Nickname or password are wrong
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field>
                <mat-label>Código Evento</mat-label>
                <input matInput placeholder="Codigo Evento" [formControl]="bookFlightControl" required>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="autocomplete-css">
                <input type="text" placeholder="Destino" aria-label="Number" matInput [formControl]="destinationControl"
                    [matAutocomplete]="autoDestination">
                <mat-autocomplete autoActiveFirstOption #autoDestination="matAutocomplete">
                    <mat-option *ngFor="let destinationCity of filteredOptions | async" [value]="destinationCity">
                        {{destinationCity}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Fecha Llegada</mat-label>
                <input matInput [matDatepicker]="arrivalPicker" [formControl]="checkInControl">
                <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
                <mat-datepicker #arrivalPicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="fill">
                <mat-label>Fecha Salida</mat-label>
                <input matInput [matDatepicker]="departurePicker" [formControl]="checkOutControl">
                <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                <mat-datepicker #departurePicker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <button class="btn btn-primary mb-3" type="submit" [disabled]="form.invalid">Buscar</button>
    <div *ngIf="loadingElement" class="loader">
        <mat-spinner class="loading-image"></mat-spinner>
        <mat-label class="loading-message">
            Buscando las mejores ofertas para ti....
        </mat-label>
    </div>
</form>