<form [formGroup]="form" class="container" style="height: 90%;" (ngSubmit)="searchFlights(form)">    
    <div *ngIf="form.errors">
        <div class="alert alert-danger mt-5" id="alerta" *ngIf="form.errors.loginError">
            Nickname or password are wrong
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <p class="h2" style="margin-top: 4rem;">Busque sus vuelos baratos</p>
    <div class="row align-items-center" style="height: 20%;">
        <div class="col-12">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Codigo Reserva Evento</mat-label>
                    <input matInput placeholder="Codigo Reserva Evento" [formControl]="bookFlightControl" required>
                </mat-form-field>
                <!-- <mat-form-field appearance="fill">
                    <mat-label>Seleccione Evento</mat-label>
                    <mat-select [formControl]="tourEventControl" (ngModelChange)="changeEvent()" required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let event of tourEvents" [value]="event.tourEventId">
                            {{event.shortDescription}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tourEventControl.hasError('required')">Please select an event</mat-error>
                    <mat-hint>{{tourEventControl.value?.sound}}</mat-hint>
                </mat-form-field> -->
                <mat-form-field class="autocomplete-css">
                    <input type="text" placeholder="Origen" aria-label="Number" matInput [formControl]="originControl" 
                        [matAutocomplete]="autoOrigin">
                    <mat-autocomplete autoActiveFirstOption #autoOrigin="matAutocomplete">
                        <mat-option *ngFor="let originCity of originOptions | async" [value]="originCity">
                        {{originCity}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="autocomplete-css">
                    <input type="text" placeholder="Destino" aria-label="Number" matInput [formControl]="destinationControl" 
                        [matAutocomplete]="autoDestination">
                    <mat-autocomplete autoActiveFirstOption #autoDestination="matAutocomplete">
                        <mat-option *ngFor="let destinationCity of filteredOptions | async" [value]="destinationCity">
                        {{destinationCity}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>                
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Salida</mat-label>
                    <input matInput [matDatepicker]="departurePicker" [formControl]="departureDateControl">
                    <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                    <mat-datepicker #departurePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Llegada</mat-label>
                    <input matInput [matDatepicker]="arrivalPicker" [formControl]="arrivalDateControl">
                    <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
                    <mat-datepicker #arrivalPicker></mat-datepicker>
                </mat-form-field>                
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Buscar</button>
            </div>
            <!-- <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input formControlName="password" type="password" class="form-control" id="inputPassword"
                        placeholder="Password">
                    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</form>