<form [formGroup]="form" class="container" style="height: 90%;" (ngSubmit)="searchFlights()">
    <div *ngIf="form.errors">
        <div class="alert alert-danger mt-5" id="alerta" *ngIf="form.errors.comunicationError">
            There was an error trying to get the values, please try again later
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="alert alert-warning mt-5" id="alerta" *ngIf="form.errors.notFound">
            There are not flights found for the search
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <p class="h2 title-style">Busque sus vuelos baratos</p>
    <div class="row align-items-center" style="height: 20%;">
        <div class="col-12">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Código Evento</mat-label>
                    <input matInput placeholder="Codigo Evento" [formControl]="bookFlightControl" required>
                </mat-form-field>
                <mat-form-field class="autocomplete-css">
                    <input type="text" placeholder="Origen" aria-label="Number" matInput [formControl]="originControl"
                        [matAutocomplete]="autoOrigin">
                    <mat-autocomplete autoActiveFirstOption #autoOrigin="matAutocomplete">
                        <mat-option *ngFor="let originCity of originOptions | async" [value]="originCity">
                            {{originCity}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="autocomplete-css">
                    <input type="text" placeholder="Destino" aria-label="Number" matInput
                        [formControl]="destinationControl" [matAutocomplete]="autoDestination">
                    <mat-autocomplete autoActiveFirstOption #autoDestination="matAutocomplete">
                        <mat-option *ngFor="let destinationCity of filteredOptions | async" [value]="destinationCity">
                            {{destinationCity}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Salida</mat-label>
                    <input matInput [matDatepicker]="departurePicker" [formControl]="departureDateControl">
                    <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
                    <mat-datepicker #departurePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Fecha Llegada</mat-label>
                    <input matInput [matDatepicker]="arrivalPicker" [formControl]="arrivalDateControl">
                    <mat-datepicker-toggle matSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
                    <mat-datepicker #arrivalPicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cantidad Pasajeros</mat-label>
                    <input type="number" [formControl]="quantityPassangers" matInput minlength="1" maxlength="1" max="9"
                        min="1" placeholder="Cantidad Pasajeros"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                </mat-form-field>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Buscar</button>
            </div>
        </div>
    </div>
    <div *ngIf="loadingElement" class="loader">
        <mat-spinner class="loading-image"></mat-spinner>
        <mat-label class="loading-message">
            Buscando las mejores ofertas para ti....
        </mat-label>
    </div>
</form>