<div style="height: auto;">
    <div *ngFor="let hotel of hotelList" class="card-event">
        <div class="card-object">
            <mat-card class="mt-2">
                <mat-card-header class="content-header">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{hotel.Supplier}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="content-container row">
                    <div class="banner-images col-4">
                        <img src="{{srcImage + hotel.HotelImage}}" class="img-fluid img-size" alt="Responsive image">
                    </div>
                    <div class="informacion-evento col-8">
                        <div class="row">
                            <div class="bloqueInformacion1 col">                                
                                <h2 class="display-3">Fecha Llegada: {{hotel.StartDate | date:'shortDate'}}</h2>
                                <h2 class="display-3">Ciudad: {{hotel.City}}</h2>
                            </div>
                            <div class="bloqueInformacion2 col">
                                <h2 class="display-3">Fecha Salida: {{hotel.EndDate | date:'shortDate'}}</h2>
                                <h2 class="display-3">Precio: {{hotel.Price | currency:'COP':"symbol-narrow":'3.0-2'}}</h2>
                            </div>
                            <div *ngIf="!informationCard" class="bloqueBotones col-2">                            
                                <button mat-raised-button color="primary" class="mr-1" (click)="selectingHotel(hotel)" matStepperNext>Reservar</button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>        
            </mat-card>
        </div>
    </div>
    <div *ngIf="loadingElement" class="loader">
        <mat-spinner class="loading-image"></mat-spinner>
    </div>
</div>