<mat-sidenav-container class="container-sidenav">
    <mat-sidenav mode="side" class="menu-sidenav d-none d-sm-block col-md-2 col-sm-2" opened>
        <div class="menu-style">
            <div class="header-menu-style">
                <div class="col-12 no-spaces">
                    <a routerLinkActive="active" routerLink="">TouresBalón</a>
                </div>
                <div class="col-12 no-spaces" style="padding-top: 1.1rem;">
                    <span style="font-size: 2.5rem;">
                        <a routerLinkActive="active" routerLink=""><i class="fa fa-futbol-o" aria-hidden="true"></i></a>
                    </span>
                </div>
                <hr />
                <div class="row" style="margin: 0;">
                    <div class="d-none d-sm-block col-4 no-spaces"></div>
                    <div class="col-md-4 no-spaces">                    
                        <button class="btn btn-outline-link" mat-button [matMenuTriggerFor]="menu">
                            User
                            <img class="img-thumbnail" src="../../../assets/images/TouresBalon/default-profile.png">
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item routerLink="login">Iniciar Sesion</button>
                            <button mat-menu-item>Perfil</button>
                        </mat-menu>
                    </div>
                    <div class="d-none d-sm-block col-4 no-spaces"></div>
                </div>
                <hr>
            </div>
            <div class="links-menu-style">
                <div class="row" style="margin: 0;">
                    <div class="col-11 no-spaces">
                        <mat-accordion class="accordion-menu-style" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Vuelos
                                        <mat-icon class="menu-link-item">flight_takeoff</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a class="elemnt-link form-control" routerLink="vuelos/consulta"> Consultar
                                    <i class="fa fa-search fa-link-item" aria-hidden="true"></i>
                                </a>
                                <a class="elemnt-link form-control" routerLink="vuelos/reserva"> Reservar
                                    <i class="fa fa-calendar-check-o fa-link-item" aria-hidden="true"></i>
                                </a>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="col-11 no-spaces">
                        <mat-accordion class="accordion-menu-style" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Hoteles
                                        <mat-icon class="menu-link-item">hotel</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a class="elemnt-link form-control"> Consultar
                                    <i class="fa fa-search fa-link-item" aria-hidden="true"></i>
                                </a>
                                <a class="elemnt-link form-control"> Reservar
                                    <i class="fa fa-calendar-check-o fa-link-item" aria-hidden="true"></i>
                                </a>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="col-11 no-spaces">
                        <mat-accordion class="accordion-menu-style" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Buses
                                        <mat-icon class="menu-link-item">directions_bus</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a class="elemnt-link form-control"> Consultar
                                    <i class="fa fa-search fa-link-item" aria-hidden="true"></i>
                                </a>
                                <a class="elemnt-link form-control"> Reservar
                                    <i class="fa fa-calendar-check-o fa-link-item" aria-hidden="true"></i>
                                </a>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="col-11 no-spaces">
                        <mat-accordion class="accordion-menu-style" multi>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Eventos
                                        <mat-icon class="menu-link-item">local_activity</mat-icon>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <a class="elemnt-link form-control"> Consultar
                                    <i class="fa fa-search fa-link-item" aria-hidden="true"></i>
                                </a>
                                <a class="elemnt-link form-control"> Reservar
                                    <i class="fa fa-calendar-check-o fa-link-item" aria-hidden="true"></i>
                                </a>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>   
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content col-lg-10 col-sm-12">
        <app-menu-navbar></app-menu-navbar>
        <router-outlet></router-outlet>
        <hr />
    </mat-sidenav-content>
</mat-sidenav-container>