<div class="row">
    <div class="card-container col-12">
        <div *ngFor="let flight of flightsInformation" class="card-event col-5">
            <div class="card-object">
                <mat-card class="mt-2 col-12">
                    <mat-card-header class="content-header">
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{flight.Destination}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="content-container row">
                        <div class="informacion-evento col">
                            <div class="row">
                                <div class="bloqueInformacion1 col">
                                    <h2 class="display-3">Ciudad: {{flight.Destination}}</h2>
                                    <h2 class="display-3">Fecha: {{flight.EndDate | date:'shortDate'}}</h2>
                                </div>
                                <div class="bloqueInformacion2 col">
                                    <h2 class="display-3">Ciudad: {{flight.Origin}}</h2>
                                    <h2 class="display-3">Fecha:
                                        {{flight.Price | currency:'COP':"symbol-narrow":'3.0-2'}}</h2>
                                </div>
                                <div class="bloqueBotones col-3" *ngIf="!informationCard">
                                    <button mat-raised-button color="primary" class="mr-1"
                                        (click)="selectedFlight(flight)" matStepperNext>Reservar</button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>