.img-size{
    height: 100px;
    width: auto;
}

.content-header{
    border-bottom: 1px solid grey;
}

.content-container{
    display: inline-flex;
    margin-top: 1rem;
}

.banner-images{
    margin-left: 3rem;
}

.informacion-evento{
    margin-left: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}