<div style="height: 90%;">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="consultaFormGroup">
            <form [formGroup]="consultaFormGroup">
                <div class="container">
                    <ng-template matStepLabel>Consultar</ng-template>
                    <mat-form-field class="autocomplete-css">
                        <input type="text" placeholder="Ciudad" aria-label="Number" matInput
                            [formControl]="citiesEvents" [matAutocomplete]="autoDestination"
                            (ngModelChange)="changeCity()" required>
                        <mat-autocomplete autoActiveFirstOption #autoDestination="matAutocomplete">
                            <mat-option *ngFor="let destinationCity of filteredOptions | async"
                                [value]="destinationCity">
                                {{destinationCity}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <button mat-icon-button color="primary" (click)="searchEvents()" [disabled]="searchEventIsDisabled">
                        <mat-icon>search</mat-icon>
                    </button>
                    <div class="mt-5" *ngIf="searchEventCards">
                        <app-card-event [citySearch]="citiesEvents" (selected)="onEventSelected($event)">
                        </app-card-event>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="transportFormGroup" label="Transporte">
            <form [formGroup]="transportFormGroup">
                <div class="container transport-container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Vuelos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Buses</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <app-consulta-vuelos [bookingEventCode]="bookingEventCode"
                                (searchFlightsEvent)="onFlightSearchResponse($event)"></app-consulta-vuelos>
                            <app-flight-card *ngIf="foundedFlights !== undefined" [flightsInformation]="foundedFlights"
                             [informationCard]="false" (selected)="onFlightSelected($event)"></app-flight-card>
                        </div>
                        <div class="zºtab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    </div>
                    <div class="mt-2">
                        <button mat-raised-button color="primary" class="mr-1" matStepperPrevious>Atras</button>
                        <button mat-raised-button color="primary" matStepperNext>Omitir</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="hotelFormGroup" label="Hotel">
            <form [formGroup]="hotelFormGroup">
                <div class="container">
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="fourthCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" class="mr-1" matStepperPrevious>Atras</button>
                        <button mat-raised-button color="primary" matStepperNext>Omitir</button>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <div class="container">
                <!-- <ng-template matStepLabel>Comprar</ng-template> -->                
                <app-shopping-summary [selectedFlight]="selectedFlight" ></app-shopping-summary>
                <div>
                    <button mat-raised-button color="primary" class="mr-1" matStepperPrevious>Atras</button>
                    <button mat-raised-button color="primary" class="mr-1" (click)="stepper.reset()">Reinicio</button>
                    <button mat-raised-button color="primary" (click)="buyEvent()">Comprar</button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>